<!DOCTYPE html>
<html>
            <head>
                        <title>Solenoid Lock</title>
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                        <link rel="stylesheet" href="../static/style1.css">
            </head>
            <body>
                 <h2>Selonoid lock control</h2>                           
                <form action="/1" method="POST">
                              <h3><p><button id="lock" class="selonoid">Lock InBox</button> <P></h3>
                               </form>                          
                     <form action="/0" method="POST">
                              <h3><button id="unlock" class="selonoid" >Unlock InBox</button> <P></P></h3>
                               
                               </form>      
                   <h3><a href="/index" ><button id="previous" class="button">&laquo; Previous</button> </a></h3>
                            </br>            
            </body>
</html>